<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open Eggbert - ARTICLENAME</title>
    <base href=".." target="_self">
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon" sizes="32x32">
    <script type="text/javascript" src="script.js"></script>
</head>
<body>
<script>
PAGE_CONFIG = {
  breadcrumb: [
    {label: "Home", href: "index.html"}
  ],
  subpages: [
    {label: "Go Up", href: "./index.html"},
    {label: "KKK", href: "Template/KKK/index.html"},
    {label: "LLL", href: "Template/LLL/index.html"},
    {label: "MMM", href: "Template/MMM/index.html"}
  ]
};
</script>
<main>
<section>
<h1>ARTICLENAME</h1>
<div id="tocButton"></div>
<div id="toc"></div>
<table class="infobox">
<tr>
<th colspan="2">AAAAAA</th>
</tr>
<tr>
<th>Aaaaaaaaaa</th>
<td>bbb</td>
</tr>
<tr>
<th>Cccccccccc</th>
<td>ddd</td>
</tr>
</table>

<p><strong><a href="https://openeggbert.com/title/Blupi">Link</a></strong> is test.</p>
<p><a href="Article_does_not_yet_exist_or_link_is_broken/index.html">Article_does_not_yet_exist_or_link_is_broken</a></p>
<figure>
<img alt="Alt" height="auto" src="https://drive.openeggbert.com/Blupi_Images/blupi_the_registered_trademark.jpeg" style="max-width:90%;" width="600"/>
<figcaption>figcaption</figcaption>
</figure>
</section>
</main>

</body>
</html>